{% extends "layouts/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/blogposts.css">
{% endblock %}

{% block content %}
    <main>
        <section class="feed">

            <a href="blog/post-update.html" class="post-card-link">
                <article class="post-card">
                    <h2>Nieuwe update!</h2>
                    <time datetime="2025-10-09">9 oktober 2025</time>
                    <p>De website heeft weer een nieuwe update gehad!</p>
                </article>
            </a>

            <a href="blog/post-swot_analysis.html" class="post-card-link">
                <article class="post-card">
                    <h2>Persoonlijke SWOT analyse</h2>
                    <time datetime="2025-09-11">11 september 2025</time>
                    <p>Mijn persoonlijke SWOT analyse; wat zijn mijn sterke en zwakke punten tijdens de opleiding?</p>
                </article>
            </a>

            <a href="blog/post-ict.html" class="post-card-link">
                <article class="post-card">
                    <h2>ICT-werkveld</h2>
                    <time datetime="2025-09-10">10 september 2025</time>
                    <p>Hoe ziet het ICT-werkveld er uit? Waar kom ik in terecht als ik deze opleiding afrond?</p>
                </article>
            </a>

            <a href="blog/post-feedback.html" class="post-card-link">
                <article class="post-card">
                    <h2>Feedback</h2>
                    <time datetime="2025-09-10">10 september 2025</time>
                    <p>Welke feedback...?</p>
                </article>
            </a>

            <a href="blog/post-programming_experience.html" class="post-card-link">
                <article class="post-card">
                    <h2>Mijn programmeerervaring</h2>
                    <time datetime="2025-09-09">9 september 2025</time>
                    <p>Zoals ik op de home- en profilepage al heb verteld, heb ik al enige codeer en
                        programmeerervaring.</p>
                </article>
            </a>

            <a href="blog/post-studiekeuze.html" class="post-card-link">
                <article class="post-card">
                    <h2>Studiekeuze & motivatie</h2>
                    <time datetime="2024-11-20">20 november 2024</time>
                    <p>De studie waarvoor ik heb gekozen, en waarom ik hiervoor heb gekozen.</p>
                </article>
            </a>

        </section>

    </main>
{% endblock %}