{% extends "layouts/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/blogposts.css">
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Het ICT-werkveld en mijn toekomst na deze studie</h2>
            <h3>10 september 2025</h3>
            <p>Ik heb me voor deze blog verdiept in het ICT werkveld, en wat ik kan verwachten als ik klaar ben met de
                opleiding.<br>
                Het ICT werkveld is erg breed, en veranderd eigenlijk continu. Bedrijven hebben steeds vaker digitale
                oplossingen nodig, waardoor er erg veel verschillende functies binnen de ICT-wereld zijn.<br>
                Bijvoorbeeld softwareontwikkelaars die nieuwe apps bouwen, systeembeheerders die ervoor zorgen dat
                netwerken binnen bedrijven veilig online blijven, security specialisten die zorgen dat bedrijven goed
                weerbaarzijn tegen cyberaanvallen, enzovoort.<br>
                <br>
                Wanneer ik over 4 jaar mijn HBO-ict studie heb afgerond, denk ik dat er nog steeds genoeg keuze is qua
                werk. De vraag naar ICT'ers is, en blijft denk ik erg groot.
                Hoewel er in de komende 4 jaar nog veel kan veranderen, ook binnen ICT met de opkomst van bijvoorbeeld
                AI, denk ik toch dat met de juiste basis ik ver kan komen.
            </p>
            <h4><a href="/blog" class="terug-knop">← Terug naar blog</a></h4>
        </section>
    </main>
{% endblock %}