{% extends "layouts/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/blogposts.css">
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Persoonlijke SWOT-analyse</h2>
            <h3>11 september 2025</h3>
            <p>Aan het begin van de opleiding heb ik een SWOT analyse van mezelf in moeten vullen; mijn Strenghts,
                Weaknessess, Opportunities en Threats.</p>
            <h4>Strenghts:</h4>
            <ul>
                <li>Hard werken (als het nodig is)</li>
                <li>Andere mensen helpen (soms)</li>
            </ul>
            <h4>Weaknessess:</h4>
            <ul>
                <li>Ik ben slecht in plannen</li>
                <li>Als het te moeilijk wordt geef ik makkelijk op</li>
            </ul>
            <h4>Opportunities:</h4>
            <ul>
                <li>Ik zie kansen om beter te leren samenwerken</li>
                <li>Beter leren plannen</li>
                <li>Meer doorzettingsvermogen</li>
            </ul>
            <h4>Threats</h4>
            <ul>
                <li>Te laat aan iets beginnen, en daardoor op het einde in tijdsnood komen</li>
            </ul>

            <h4><a href="/blog" class="terug-knop">← Terug naar blog</a></h4>
        </section>
    </main>
{% endblock %}