{% extends "layouts/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/blogposts.css">
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Programmeerervaring</h2>
            <h3>9 september 2025</h3>
            <p>Zoals ik op de home- en profilepage al heb verteld, heb ik al enige codeer en programmeerervaring.<br>
                Op de middelbare school heb ik 2 jaar informatica gevolgd, en daar heb ik kennisgemaakt met meerdere
                manieren van coderen, en meerdere programmeertalen.<br>
                2 jaar geleden heb ik dan ook samen met Matthijs al een website gemaakt met HTML en CSS; "Hacken enzo".
                De basiscode van deze website, het "skelet" hebben wij van onze docent gekregen, en dus hebben we niet
                alles zelf gecodeerd.
            </p>
            <img src="../images/hackenenzo.png" alt="Website 'Hacken enzo'" width="500" class="blogfoto"><br>
            <p>Hier heb ik niet alleen met HTML & CSS gewerkt, maar ook met SQL en python. Het werken met SQL vond ik
                erg lastig, en is niet echt voor mij weggelegd, maar python vond ik erg leuk om te doen.
                Toen ik in de eindexamenperiode zat heb ik zelfs een programma met python gemaakt wat uitrekende wat
                voor cijfer ik moest halen om te slagen.<br>
                Kortom; ik heb de afgelopen jaren al een beetje ervaring opgedaan met coderen en programmeren, en heb
                het tot nu toe altijd leuk gevonden. Ik ben dus benieuwd wat we hier op de opleiding allemaal gaan doen!
            </p>
            <h4><a href="/blog" class="terug-knop">← Terug naar blog</a></h4>
        </section>
    </main>
{% endblock %}