{% extends "layouts/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/blogposts.css">
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Studiekeuze</h2>
            <h3>20 november 2024</h3>
            <p>Ik heb gekozen voor de opleiding HBO-ICT aan de HZ (Hogeschool Zeeland).<br>
                De reden dat ik hiervoor heb gekozen, is dat ik altijd al erg geinteresseerd ben geweest in techniek,
                programmeren, en computers.<br>
                Zoals eerder al genoemd op de <a href=../profile.html>profile pagina</a> heeft mijn vader een eigen
                bedrijf in licht en geluid, en ook daar komt programmeren soms bij kijken.<br>
                2 jaar geleden heb ik op de middelbare school het vak informatica gevolgd, en dat vond ik erg leuk om te
                doen. Hierover meer bij de post <a href=post-programming_experience.html>programmeerervaring</a>.
                Maar, het feit dat ik informatica zo leuk vond, heeft er uiteindelijk ook tot geleid dat ik voor een ICT
                studie heb gekozen.
                Eerst twijfelde ik erg wat ik voor opleiding wilde doen; de keuze's lagen tussen de
                koks/horecaopleiding, een ict opleiding, of een opleiding binnen de evenementensector (bijvoorbeeld
                audiotechnicus).<br>

                Ik heb meerdere scholen bezocht, maar al vrij snel kwam ik er op uit dat het wel een HBO moest zijn, en
                geen MBO. Als ik voor een MBO zou kiezen, zou het een beetje voelen alsof ik de laatste 2 jaar havo voor
                niks had gedaan, en dan zou ik alsnog examens moeten doen in de standaardvakken op die opleiding.<br>
                Ook heb ik meerdere open- en meeloopdagen bezocht, zowel van de HZ als van Avans Breda. Ik twijfelde
                hierna erg voor welke school ik moest kiezen, maar vanwege de reistijd naar Breda/Middelburg heb ik toch
                gekozen voor de HZ.<br><br>
                Na deze 4 jaar hoop ik met een HBO-ICT diploma uit de school te lopen, om dan een baan te kunnen zoeken
                in het ICT werkveld.
            </p>
            <h4><a href="/blog" class="terug-knop">← Terug naar blog</a></h4>
        </section>
    </main>
{% endblock %}