{% extends "layouts/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/blogposts.css">
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Feedback</h2>
            <h3>10 september 2025</h3>
            <p>In de Assignment Specification voor deze opdracht staat dat ik ook een artikel moet schrijven over die
                feedback die ik heb gekregen op de SKC opdracht.<br>
                Maar, ik heb eerlijk gezegd geen idee over welke opdracht dit gaat, en heb ook geen enkele feedback
                daarover gehoord :(
            </p>
            <h4><a href="/blog" class="terug-knop">← Terug naar blog</a></h4>
        </section>
    </main>
{% endblock %}