{% extends "layouts/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="space-y-6">

        <h1 class="text-3xl font-bold text-slate-900 dark:text-white">Maestro Framework</h1>

        <p class="text-slate-600 dark:text-slate-400">
            For my PCO website
        </p>

    </div>
{% endblock %}