{% extends "layouts/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        <section>
            <h1>Home</h1>
            <p>Hoi ik ben Elmar en dit is mijn website! Op deze pagina leg ik uit waarom ik voor de studie HBO-ICT bij
                de HZ heb gekozen.
            </p>

            <h3>HBO-ICT</h3>
            <p>Op de middelbare school heb ik in havo 4, en havo 5 het vak informatica gevolgd. Hier heb ik al met
                meerdere programmeertalen gewerkt, en dit beviel mij altijd er goed.<br>
                Ook vond ik deze lessen altijd erg leuk. Dit is een van de redenen waarom ik voor deze studie heb
                gekozen. 2 jaar geleden heb ik dan ook al een website gemaakt, die over hacken ging. Zie afbeelding.
            </p>
            <img src="images/hackenenzo.png" alt="Website 'Hacken enzo'" width="500"><br>
            <p>Ik denk dat ik zeker geschikt ben voor deze opleiding, en dit werkveld, omdat het coderen mij erg goed
                ligt.
            </p>
        </section>

    </main>
{% endblock %}