{% extends "layouts/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        <section>
            <h1>Profiel</h1>
            <h3>Persoonlijke informatie</h3>
            <p>Ik ben Elmar, ik ben 17 jaar oud, en ik kom uit Nederland. Ik woon in Biezelinge (Zeeland).<br>
                De reden dat ik zo jong ben, is omdat ik op de basisschool groep 2 over heb geslagen, en daarna de Havo
                in een keer heb gehaald.
            </p>

            <h3>Wat meer informatie over mezelf</h3>
            <p>Ik werk bij de Aldi, en soms help ik mee in het bedrijf van mijn vader. Hij heeft een eigen bedrijf,
                gespecialiseerd in licht, geluid en beeldtechniek. Zowel voor installatie als verhuur, voor bijvoorbeeld
                evenementen.<br>
                Mijn hobby's zijn gamen, Netflix kijken, en ik ben erg geinteresseerd in het werk in de
                evenementensector. Ook mag je mij 's nachts wakker maken om voor de 500ste keer de serie 'Breaking Bad'
                te kijken.
            </p>
            <img src="images/brba.jpeg" alt="Breaking Bad" width="500">

            <h3>Mijn eigenschappen</h3>
            <ul>
                <li>Ik ben behulpzaam</li>
                <li>Ik vind het leuk om complexe problemen op te lossen</li>
                <li>Ik ben aardig</li>
            </ul>

            <h3>Links</h3>
            <ul>
                <li><a href="https://github.com/ellemaj" target="_blank">Github</a></li>
                <li><a href="https://open.spotify.com/user/myp7uhtvaupdg3je0cq6et6q0?si=c4fa36011353421a"
                        target="_blank">Spotify</a></li>
                <li><a href="https://discord.com/users/689099253926068241" target="blank">Discord</a></li>
            </ul>
        </section>
    </main>
{% endblock %}