{% extends "layouts/base.html.twig" %}

{% block title %}Sitemap{% endblock %}

{% block content %}
    <main>
        <section>
            <h1>Sitemap</h1>
            <img src="images/sitemap.png" alt="Sitemap" width="1000">
        </section>
    </main>
{% endblock %}